@font-face {
    font-family: 'Rubik';
    src: url(../assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

body, html {
    overflow-x: hidden;
    max-width: 100%;
    background-color: #000000;
    
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;
    background: transparent;
}

header .logo {
    width: 80px;
    height: 80px;
}

header .logo .logo-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
    transition: all .55s ease;
}

header .logo:hover .logo-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    transform: perspective(100px) rotateX(360deg) scale(1.1);
    border: 4px solid grey;
}

@media (max-width: 990px){
    #menu-icon{
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: rgba(255, 255, 255, 0.138);
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 50px 20px;
        transition: all .55s ease;
        display: block;
    }

    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }
    
}

.navlist {
    display: flex;

}

ul {
    list-style: none;
}

.navlist a{
    text-decoration: none;
    margin-left: 40px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    top: 0;
}

.navlist a:hover{
    color: grey;
    border-bottom: 2px solid grey;
    font-size: 16px;    /* Scale animation */
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    position: relative;
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

p {
    position: relative;
    font-size: 50px;
    color: #808080;
    font-weight: normal;
    text-align: center;
}

section .animate {
    transition: 1s;
    filter: blur(10px);
    
}

section.show-animate .animate {
    filter: blur(0);
}


#home-text > h1 {
    color: #ffffff;
    text-shadow: 10px 10px 10px #000000;

    border-radius: 10px;
    padding: 10px;
}

#home-text > p {
    color: #ffffff;
    text-shadow: 10px 10px 10px #000000;

    border-radius: 10px;
    text-align: center;
}

.home > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(5px);
}

.home .animate {
    transform: translateX(-100%);
}

.home.show-animate .animate {
    transform: translateX(0);
}

.about-me {
    background: #8B3F69;
}

.about-me .animate {
    transform: translateX(30%);
}

.about-me.show-animate .animate {
    transform: translateX(0);
}

#about-me-gif {
    justify-content: center;
    align-items: center;
    height: calc(100vh / 1.5);
    width: auto;
    background: #A46E54;
}

@media (max-width: 990px) {
    #about-me-gif {
        height: calc(100vh / 2);
    }
}


.about-me h1 {
    color: #D8D867;
}

.about-me p {
    color: #FCD8F7;
    text-align: justify;
    margin: 10% 10%;
}

.contact {
    background: #fe9c5a;
    background-image: url("../assets/images/contact_background_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact .showRight-animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fbb300;
    transition: 1s;
}

.contact.show-animate .showRight-animate {
    width: 0;
}

.contact h1 {
    color: #fbb300;
}

.contact p {
    color: white;
    text-align: center;
}

.contact a {
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid transparent;
    margin: 0 20px;
    transition: all .55s ease;
    top: 0;
}

.contact a:hover {
    color: #fbb300;
    font-size: 55px;
}

/* DRAWINGS */

.drawings {
    background: #13284f;
}

.drawings h1 {
    color: #ffffff;
    text-shadow: 10px 10px 10px #000000;
}

.drawings .animate {
    transform: scale(0.7);
}

.drawings.show-animate .animate {
    transform: scale(1);
}

.drawings .images img {
    border-radius: 8px;
    width: calc(100vh / 4);
    height: auto;
    box-shadow: 0px 0px 30px #000;
    margin: 30px 30px;
}

.drawings .images img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.drawings .images {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.drawings .page-selector {
    display: inline-block;
}

.drawings .page-selector a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 15px;
    margin-right: 7px;
}

.drawings .page-selector a:hover:not(.active) {
    background-color: #7b7b7b;
    transition: 0.3s;
    transform: scale(1.1);
    border-radius: 15px;
}

.drawings .page-selector a.active {
    background-color: #2b59ef;
    color: white;
    border-radius: 15px;
}

.animations .animate {
    transform: scale(0.7);
}

.animations.show-animate .animate {
    transform: scale(1);
}

.animations {
    background: #3a185c;
}

.animations h1 {
    color: #ffffff;
    text-shadow: 10px 10px 10px #000000;
}

.animations .images video {
    border-radius: 8px;
    width: calc(100vh / 3);
    height: auto;
    box-shadow: 0px 0px 30px #000;
    margin: 30px 30px;
}

.animations .images video:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.animations .images {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.animations .page-selector {
    display: inline-block;
}

.animations .page-selector a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 15px;
    margin-right: 7px;
}

.animations .page-selector a:hover:not(.active) {
    background-color: #4f4f4f;
    transition: 0.3s;
    transform: scale(1.1);
    border-radius: 15px;
}

.animations .page-selector a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

.reel {
    background-color: #1c1c1cc0;
}

.reel h1 {
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 10px 10px 10px #000000;
    
}

.reel .animate {
    transform: scale(0.8);
}

.reel.show-animate .animate {
    transform: scale(1);
}

.reel .vimeo iframe {
    width: 100vw;
    height: calc(100vw / 3);
    margin: 0 30px;
    justify-items: center;
    align-items: center;
    transform: scale(1);
}

.reel .vimeo {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
}